<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express basic website</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>
        About
    </h1>
    <h2>
        Antonio Banderas
    </h2>
    <section>
        <p class="about-section">
            José Antonio Domínguez Bandera (born 10 August 1960), known professionally as Antonio Banderas,
            is a Spanish actor, singer, film producer and director. He is the recipient of numerous accolades,
            including a Cannes Best Actor Award and nominations for a Tony Award, an Academy Award,
            two Primetime Emmy Awards and five Golden Globe Awards.
        </p>
    </section>

</body>

</html>