<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express basic website</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>
        Home page
    </h1>
    <section>
        <a href="http://127.0.0.1:3000/about"> About page </a>
        <br>
        <a href="http://127.0.0.1:3000/works"> Works page </a>
        <br>
        <a href="http://127.0.0.1:3000/photoGallery"> Photo Gallery page </a>
    </section>

</body>

</html>