<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express basic website</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>
        Works
    </h1>
    <h2>
        Showcase of Antonio Banderas
    </h2>
    <section>
        <p>
            Banderas began his acting career with a series of films by director Pedro Almodóvar in the 1980s and then
            appeared in several Hollywood films,
            such as Philadelphia (1993), Interview with the Vampire (1994), Desperado (1995), Assassins (1995), Evita
            (1996), and The Mask of Zorro (1998).
            He also appeared in the Spy Kids series and provided the voice of Puss in Boots in the Shrek franchise as
            well as its spin-off film Puss in Boots.
        </p>
        <p>
            In 2003, Banderas made his US theatre debut as Guido Contini in Nine, for which he was nominated for a Tony
            Award and won a Drama Desk Award.
            He received Primetime Emmy Award nominations for his roles in the television film And Starring Pancho Villa
            as Himself (2004) and the second season of Genius (2018);
            his portrayal of Pablo Picasso in the latter garnered him critical praise.
        </p>
        <p>
            For the 2019 film Pain and Glory, he earned the Cannes Film Festival Award for Best Actor,
            and received nominations for the Academy Award and the Golden Globe Award for Best Actor.
        </p>
    </section>

</body>

</html>