body {
    background-color: #c2d4dd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section {
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    margin: auto;
}